@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: cocogoose;
  src: url(../other-files/cocogoose-cufonfonts/cocogoose_trial.otf); }

body {
  font-family: "lato", sans-serif; }

header {
  background-color: #3e3e3e; }
  header div {
    display: flex;
    justify-content: flex-end;
    height: 36px;
    background-color: #3e3e3e;
    align-items: center;
    max-width: 1100px;
    height: 36px;
    margin: 0 auto; }
    header div ul {
      display: flex; }
      header div ul li {
        list-style: none;
        padding: 0px 20px 0px 0px; }
        header div ul li a {
          text-decoration: none;
          color: white; }
          header div ul li a:hover {
            text-decoration: underline; }

nav {
  height: 80px;
  box-shadow: 0px 5   px 17px 0px black; }
  nav div {
    max-width: 1100px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }
    nav div .logo {
      border: #ec5242 solid 5px;
      box-shadow: 0px 5px 40px 2px grey;
      border-radius: 40px;
      margin: 0px;
      display: flex;
      width: 100px;
      height: 68px;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      nav div .logo a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center; }
        nav div .logo a img {
          width: 50px;
          height: 50px; }
        nav div .logo a p {
          color: #888;
          font-size: 14px;
          font-weight: bold;
          text-shadow: 1px 5px 5px #ec5242; }
      nav div .logo:active {
        width: 105px;
        height: 73px; }
    nav div .menu-dt {
      margin: 0px; }
      nav div .menu-dt ul {
        display: flex; }
        nav div .menu-dt ul li {
          list-style: none;
          padding-right: 50px; }
          nav div .menu-dt ul li a {
            color: #888;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none; }
            nav div .menu-dt ul li a:hover {
              color: #ec5242; }
      nav div .menu-dt button {
        color: #888;
        font-size: 14px;
        font-weight: bold;
        border: #ec5242 solid 5px;
        background-color: none;
        height: 40px;
        width: 120px; }
        nav div .menu button:active {
          background-color: #ebcdca;
          color: #3e3e3e; }

main {
  background-image: url(../img/Desktop/main_big.png);
  width: 100%;
  height: 855px;
  background-repeat: repeat-x;
  background-position: center center; }
  main div {
    max-width: 1100px;
    margin: 0 auto; }
    main div .hellotxt {
      padding-top: 160px;
      display: flex;
      flex-direction: column; }
      main div .hellotxt h1 {
        order: 1;
        margin-top: 25px;
        font-size: 70px;
        font-family: cocogoose, sans-serif;
        color: #ec5242;
        line-height: 74px;
        letter-spacing: 3px;
        background-image: url(../img/Desktop/hackimage.jpg);
        background-size: auto;
        background-position: left;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      main div .hellotxt h3 {
        order: 0;
        color: #ec5242;
        letter-spacing: 4px;
        font-size: 46px;
        font-weight: 500;
        font-family: "lato", sans-serif; }
    main div .description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 90px;
      width: 631px;
      font-family: "lato", sans-serif;
      font-weight: 400;
      border: 4px solid white;
      background-color: #f7f7f8;
      margin: 15px 0px 40px;
      line-height: 150%;
      padding: 0px 25px;
      font-size: 1.125em; }
    main div .datecr h2 {
      font-weight: 1000;
      font-size: 36px;
      font-family: "lato", sans-serif;
      color: #575757;
      padding-bottom: 10px;
      letter-spacing: 4px; }
    main div .datecr p {
      color: #333333;
      font-family: "lato", sans-serif;
      font-size: 1.5em; }

.program {
  background-image: url(../img/Desktop/pattern_bg.png);
  background-repeat: repeat;
  background-color: #272a32; }
  .program div {
    max-width: 1100px;
    margin: 0 auto; }
    .program div .mainprogram {
      width: 100%;
      height: 500px;
      padding-top: 80px; }
      .program div .mainprogram div h3 {
        font-size: 30px;
        font-weight: 400;
        font-family: "lato", sans-serif;
        color: white;
        text-align: center; }
      .program div .mainprogram div div {
        width: 53px;
        height: 16px;
        border-bottom: 1px solid #ef513c;
        margin: 0px auto 54px; }
      .program div .mainprogram ul {
        display: flex; }
        .program div .mainprogram ul li {
          background: rgba(255, 255, 255, 0.1);
          margin-right: 3px;
          list-style: none;
          display: flex;
          height: 228px;
          width: 217px;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          cursor: pointer; }
          .program div .mainprogram ul li:hover {
            /* border:white solid 3px; */
            outline: white solid 3px; }
          .program div .mainprogram ul li:active {
            height: 233px;
            width: 222px; }
          .program div .mainprogram ul li h3 {
            color: #ef513c;
            font-size: 1.5em;
            font-weight: 700; }
          .program div .mainprogram ul li img {
            padding-top: 21px; }
          .program div .mainprogram ul li p {
            padding-bottom: 21px;
            text-align: center;
            word-break: keep-all;
            color: white;
            font-size: 16px;
            line-height: 1.5em;
            font-weight: 400; }
      .program div .mainprogram .seemore {
        padding-top: 70px;
        text-align: center; }
        .program div .mainprogram .seemore a {
          text-decoration: none;
          color: white;
          font-size: 16px; }
          .program div .mainprogram .seemore a:hover {
            text-decoration: underline; }

.speaker {
  max-width: 1100px;
  margin: 0 auto; }
  .speaker .warper {
    margin-top: 60px; }
    .speaker .warper h2 {
      text-align: center;
      font-size: 30px;
      font-weight: 900;
      font-family: "lato", sans-serif;
      color: #575757; }
    .speaker .warper .orangeline {
      width: 53px;
      height: 16px;
      border-bottom: 1px solid #ef513c;
      margin: 0px auto 54px; }
    .speaker .warper ul {
      display: grid;
      grid-template-columns: auto auto;
      gap: 5px;
      margin-bottom: 150px; }
      .speaker .warper ul li {
        display: flex;
        height: 220px; }
        .speaker .warper ul li div {
          padding: 20px 20px 0px 20px; }
          .speaker .warper ul li div h3 {
            font-size: 1.5em;
            font-weight: 800;
            font-family: "lato", sans-serif;
            margin-bottom: 5px; }
          .speaker .warper ul li div .organize {
            color: #ec5242;
            font-size: 13px;
            font-weight: 900;
            font-style: italic; }
          .speaker .warper ul li div .spkr-description {
            margin-top: 20px; }

.partners {
  background-color: #414246;
  height: 260px;
  width: 100%; }
  .partners .partners-wrap {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px; }
    .partners .partners-wrap h2 {
      text-align: center;
      color: #868080; }
    .partners .partners-wrap .orange-partner {
      width: 39px;
      height: 16px;
      border-bottom: 1px solid #ef513c;
      margin: 0px auto 54px; }
    .partners .partners-wrap div {
      text-align: center; }
      .partners .partners-wrap div img {
        margin-right: 40px; }

footer {
  max-width: 1100px;
  margin: 0 auto;
  height: 260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  footer img {
    width: 270px;
    height: 60px; }

.main-about {
  background: url(../img/about_bg_01.png) no-repeat 100% 20% #f7f7f8; }

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: #888;
  text-decoration: none;
}

.menuItem:hover {
  border-bottom: #ec5242 solid 2px;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 1rem;
  padding: 4px;
  border: none;
  color: #888;
  background: none;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #fff;
  /* color: white; */
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

.material-icons {
  font-size: 50px;
}